[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
asgiref = "*"
rest-framework-simplejwt = "*"
psycopg2-binary = "*"
django-import-export = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-celery-beat = "*"
django-cors-headers = "*"
channels-redis = "*"
drf-spectacular = "*"

[dev-packages]

[requires]
python_version = "3.11"
