[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.0,>=3.2"
channels = "*"
asgiref = "*"
django-import-export = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
psycopg2-binary = "*"
djangorestframework = "*"
dj-database-url = "*"
daphne = "*"
django-cors-headers = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.11"
