[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
asgiref = "*"
import-export = "*"
rest-framework-simplejwt = "*"
psycopg2-binary = "*"
django-import-export = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
